# Dependencies
node_modules

# Build output
dist

# Caches
.vite
.eslintcache
*.tsbuildinfo

# Test output
coverage
*.lcov
playwright-report
test-results

# Editors and OS
.idea
.vscode
*~
.DS_Store

# Logs
logs
*.log
npm-debug.log*

# Local overrides
*.local

# Vite config compile artifacts
vite.config.ts.timestamp-*
